
body {
    padding-top: 68px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*HOMEPAGE*/

.layout button {
    margin-left: -5px;
}

.icone {
    padding-top: 24px;
}

.icone li {
    padding-right: 10px;
}
.riga img {
    width: 100%;
}

.riga img:hover {
    transform: scale(1.3,1.3);
    cursor: pointer;
}

.ristretto {
    width: 60%;
  }

.service {
    color: white;
    border: 1px solid white;
  }

/*PROFILE-PAGE*/


.name-lenguage input {
    opacity: 50%;
    
}

.maturity {
    opacity: 80%;
}

.change {
    font-size: large;
    font-weight: bold;
}

